@font-face {
	font-family: 'HelveticaNeueW01-45Ligh';
	src:	url('/secure/fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix') format('embedded-opentype'), 
			url('/secure/fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff') format('woff'), 
			url('/secure/fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueW01-55Roma';
	src:	url('/secure/fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix') format('embedded-opentype'), 
			url('/secure/fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff') format('woff'), 
			url('/secure/fonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueW01-75Bold';
	src:	url('/secure/fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix') format('embedded-opentype'), 
			url('/secure/fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff') format('woff'), 
			url('/secure/fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

root {
    display: block;
    font-size: 1em;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

#shell-view {
    width: 768px;
}

.shell-view {
    width: 748px;
    margin: 0px 10px;
}

.header-view {
}

    .header-view .header-menu {
        float: right;
        margin: 10px 0;
    }

        .header-view .header-menu .button {
            margin: 0;
        }

.content-view {
    background-color: #E7E7E7;
    border: 1px solid #B9B9B9;
}

.timestamp-label-container,
.service-statistics-label-container {
    float: right;
    margin: 10px 0;
    padding: 0 10px 0 0;
}

.outage-map-view {
    width: 744px;
    height: 484px;
    border-top: 1px solid #B9B9B9;
    border-bottom: 1px solid #B9B9B9;
}

    .outage-map-view .incident {
        background-color: #DDD4B7;
    }

.outage-report-view {
}

    .outage-report-view .title {
        font-size: 20px;
        padding: 10px;
    }

    .outage-report-view .row {
        background-color: #E7E7E7;
    }

        .outage-report-view .row.header .columns,
        .outage-report-view .row.incident .columns,
        .outage-report-view .row.footer .columns {
            padding: 10px;
        }

        .outage-report-view .row.header {
            font-size: 18px;
        }

        .outage-report-view .row.alternate {
            background-color: #FFFFFF;
        }

        .outage-report-view .row.level-0-incident {
            background-color: #FFFFAB;
        }

        .outage-report-view .row.level-1-incident {
            background-color: #FFD1A8;
        }

        .outage-report-view .row.level-2-incident {
            background-color: #FFA3A3;
        }

        .outage-report-view .row.bold {
            font-weight: bold;
        }

        .outage-report-view .row .numeric {
            text-align: right;
        }

    .outage-report-view .no-incidents {
        text-align: center;
        padding: 60px 0;
    }

.footer-view {
    padding: 20px 0;
}

.footer-logo {
}

.disclaimer-label-container {
    margin-top: 30px;
    padding: 0 10px;
}

.outage-map-legend-view {
}

    .outage-map-legend-view .row {
    }

        .outage-map-legend-view .row.header {
        }

            .outage-map-legend-view .row.header > .small-5.columns {
                font-size: 16px;
                padding: 0 0 5px 0;
            }

            .outage-map-legend-view .row.header > .small-7.columns {
                font-size: 16px;
                padding: 0 0 5px 10px;
            }

        .outage-map-legend-view .row.symbols {
            background-color: #E7E7E7;
        }

            .outage-map-legend-view .row.symbols > .small-5.columns {
                padding: 5px 10px;
            }

            .outage-map-legend-view .row.symbols > .small-7.columns {
                border-left: 10px solid #FFFFFF;
                padding: 5px 10px;
            }

    .outage-map-legend-view .min-height-35 {
        min-height: 35px;
    }

        .outage-map-legend-view .min-height-35 > div {
            margin-top: 10px;
        }

.level-0-incident {
    background-color: #FFFF54;
}

.level-1-incident {
    background-color: #FFA24F;
}

.level-2-incident {
    background-color: #FF4444;
}

.outage-map-legend-view .level-0-incident,
.outage-map-legend-view .level-1-incident,
.outage-map-legend-view .level-2-incident {
    width: 35px;
    height: 35px;
}

.service-territory {
    background-color: #A3C7D3;
}

.county-lines {
    background-color: #DBD8BD;
}

.major-highways {
    background-color: #EFCC9E;
}

.service-territory,
.county-lines,
.major-highways {
    width: 55px;
    height: 5px;
}

/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
    padding: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999999;
    pointer-events: none;
    width: auto;
    overflow: visible;
}

    .tooltipster-base .tooltipster-content {
        overflow: hidden;
    }
/* This is the base styling required to make all Tooltipsters work */

/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
    border-radius: 5px;
    border: 2px solid #000;
    background: #4c4c4c;
    color: #fff;
}
