.headline {
    font-size: 1.5em;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

.subheader {
    font-size: 1em;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

.body {
    font-size: 1em;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-align: left;
    color: #000000;
}

.detail {
    font-size: 0.875em;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-align: left;
    color: #000000;
}

.footnote {
    font-size: 0.750em;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-align: left;
    color: #000000;
}

.links {
    font-size: 0.813em;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-decoration: underline;
    text-align: left;
}

root {
    display: block;
    font-size: 1em;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

#shell-view {
    width: 768px;
}

    #shell-view .shell-view {
        width: 758px;
        margin: 5px;
    }

#header-view {
    margin-bottom: 10px;
}

    #header-view .header-view .row.collapse {
        padding: 10px;
    }

        #header-view .header-view .row.collapse .columns .social-media-link {
            font-size: 0.813em;
            text-decoration: underline;
            line-height: 1.5em;
            vertical-align: middle;
        }

        #header-view .header-view .row.collapse .columns .outage-app-link-container {
            text-align: right;
        }

            #header-view .header-view .row.collapse .columns .outage-app-link-container .outage-app-link {
                font-size: 0.813em;
                text-decoration: underline;
                line-height: 1.5em;
                vertical-align: middle;
            }

#content-view {
}

    #content-view .content-view {
        width: 758px;
        border: 1px solid #B9B9B9;
    }

#outage-map-view {
}

    #outage-map-view .outage-map-view {
        width: 746px;
        height: 486px;
        margin: 5px;
        border: 1px solid #B9B9B9;
    }

#outage-report-view {
}

    #outage-report-view .outage-report-view {
        width: 746px;
        margin: 5px;
    }

        #outage-report-view .outage-report-view .row.collapse.title {
            background-color: #FFF8CC;
        }

            #outage-report-view .outage-report-view .row.collapse.title .columns .title-label {
                font-size: 1.5em;
                font-weight: bold;
            }

        #outage-report-view .outage-report-view .timestamp-label-container {
            text-align: right;
            font-size: 0.875em;
        }

        #outage-report-view .outage-report-view .row.collapse {
            background-color: #EAE7D0;
            padding: 10px;
        }

            #outage-report-view .outage-report-view .row.collapse.incident {
                padding: 5px 10px;
            }

            #outage-report-view .outage-report-view .row.collapse.no-incidents,
            #outage-report-view .outage-report-view .row.collapse.service-unavailable {
                text-align: center;
                margin-top: 5px;
                padding: 100px 10px 40px 10px;
            }

            #outage-report-view .outage-report-view .row.collapse.header {
                margin-top: 5px;
            }

                #outage-report-view .outage-report-view .row.collapse.header .columns .header-label {
                    position: relative;
                    height: 50px;
                }

                    #outage-report-view .outage-report-view .row.collapse.header .columns .header-label span {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        font-weight: bold;
                        line-height: 1em;
                    }

                #outage-report-view .outage-report-view .row.collapse.header .columns.numeric .header-label span {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-weight: bold;
                    line-height: 1em;
                }

            #outage-report-view .outage-report-view .row.collapse.alternate {
                background-color: #FFFFFF;
            }

            #outage-report-view .outage-report-view .row.collapse.level-0-incident {
                background-color: #FFDD00;
            }

            #outage-report-view .outage-report-view .row.collapse.level-1-incident {
                background-color: #F4B576;
            }

            #outage-report-view .outage-report-view .row.collapse.level-2-incident {
                background-color: #D6AAAA;
            }

            #outage-report-view .outage-report-view .row.collapse .columns.numeric {
                text-align: right;
            }

            #outage-report-view .outage-report-view .row.collapse.bold {
                font-weight: bold;
            }

            #outage-report-view .outage-report-view .row.collapse.statistics {
                padding-top: 70px;
                font-size: 0.875em;
            }

            #outage-report-view .outage-report-view .row.collapse.disclaimer {
                margin-top: 5px;
                padding: 20px 10px;
                font-size: 0.875em;
            }

#footer-view {
    margin-top: 20px;
}

    #footer-view .footer-view {
        padding: 0 20px;
    }

        #footer-view .footer-view .footer-logo img {
            width: 268px;
            height: 78px;
        }

#outage-map-legend-view {
}

    #outage-map-legend-view .outage-map-legend-view {
    }

        #outage-map-legend-view .outage-map-legend-view .row.collapse {
            padding: 2px 0px;
        }

            #outage-map-legend-view .outage-map-legend-view .row.collapse.header {
            }

                #outage-map-legend-view .outage-map-legend-view .row.collapse.header .columns {
                }

                    #outage-map-legend-view .outage-map-legend-view .row.collapse.header .columns span {
                        font-weight: bold;
                        font-size: 1em;
                    }

            #outage-map-legend-view .outage-map-legend-view .row.collapse .columns .icon-title {
                line-height: 1.333em;
                font-size: 0.750em;
            }

            #outage-map-legend-view .outage-map-legend-view .row.collapse .columns .legend-icon {
                width: 72px;
                height: 24px;
            }

.level-0-incident {
    background-color: #FFFF54;
}

.level-1-incident {
    background-color: #FFA24F;
}

.level-2-incident {
    background-color: #FF4444;
}

.outage-map-legend-view .level-0-incident,
.outage-map-legend-view .level-1-incident,
.outage-map-legend-view .level-2-incident {
    width: 24px;
    height: 24px;
}
