root {
    display: block;
    font-size: 1em;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

#shell-view {
    width: 768px;
}

.shell-view {
    width: 758px;
    margin: 5px;
}

.header-view {
}

    .header-view .header-menu {
        float: right;
        margin: 10px 0;
    }

        .header-view .header-menu .button {
            margin: 0;
        }

.content-view {
    width: 758px;
    border: 1px solid #B9B9B9;
}

.outage-map-view {
    width: 746px;
    height: 486px;
    margin: 5px;
    border: 1px solid #B9B9B9;
}

#outage-report-view .outage-report-view {
    width: 746px;
    margin: 5px;
}

    #outage-report-view .outage-report-view .row.collapse.title {
        background-color: #FFF8CC;
    }

#title-label {
    font-size: 24px;
    font-weight: bold;
}

#outage-report-view .outage-report-view .timestamp-label-container {
    float: right;
}

#outage-report-view .outage-report-view .row.collapse {
    background-color: #EAE7D0;
    margin: 5px 0;
    padding: 10px;
}

    #outage-report-view .outage-report-view .row.collapse.header .columns,
    #outage-report-view .outage-report-view .row.collapse.incident .columns,
    #outage-report-view .outage-report-view .row.collapse.footer .columns {
    }

    #outage-report-view .outage-report-view .row.collapse.statistics {
        padding-top: 70px;
    }

    #outage-report-view .outage-report-view .row.collapse.disclaimer {
    }

    #outage-report-view .outage-report-view .row.collapse.header {
        font-weight: bold;
        font-size: 18px;
    }

.outage-report-view .row.header > div > div {
    position: relative;
    height: 50px;
    line-height: 25px;
}

    .outage-report-view .row.header > div > div > span {
        position: absolute;
        bottom: 0;
        left: 0;
    }

.outage-report-view .row.header > div.numeric > div > span {
    position: absolute;
    bottom: 0;
    right: 0;
}

#outage-report-view .outage-report-view .row.collapse.alternate {
    background-color: #FFFFFF;
}

#outage-report-view .outage-report-view .row.collapse.level-0-incident {
    background-color: #FFDD00;
}

#outage-report-view .outage-report-view .row.collapse.level-1-incident {
    background-color: #F4B576;
}

#outage-report-view .outage-report-view .row.collapse.level-2-incident {
    background-color: #D6AAAA;
}

#outage-report-view .outage-report-view .row.collapse.bold {
    font-weight: bold;
}

#outage-report-view .outage-report-view .row.collapse .numeric {
    text-align: right;
}

#outage-report-view .outage-report-view .row.collapse.no-incidents {
    text-align: center;
}

.footer-view {
}

.footer-logo {
    width: 270px;
    height: 90px;
}

.outage-map-legend-view {
}

    .outage-map-legend-view .row {
    }

        .outage-map-legend-view .row.header {
        }

            .outage-map-legend-view .row.header > .small-5.columns {
                font-size: 16px;
                padding: 0 0 5px 0;
            }

            .outage-map-legend-view .row.header > .small-7.columns {
                font-size: 16px;
                padding: 0 0 5px 0;
            }

        .outage-map-legend-view .row.symbols > .small-5.columns {
            padding: 5px 10px;
        }

        .outage-map-legend-view .row.symbols > .small-7.columns {
            padding: 5px 10px;
        }

    .outage-map-legend-view .min-height-35 {
        min-height: 35px;
    }

        .outage-map-legend-view .min-height-35 > div {
            margin-top: 10px;
        }

.level-0-incident {
    background-color: #FFFF54;
}

.level-1-incident {
    background-color: #FFA24F;
}

.level-2-incident {
    background-color: #FF4444;
}

.outage-map-legend-view .level-0-incident,
.outage-map-legend-view .level-1-incident,
.outage-map-legend-view .level-2-incident {
    width: 35px;
    height: 35px;
}

.service-territory {
    background-color: #A3C7D3;
}

.county-lines {
    background-color: #DBD8BD;
}

.major-highways {
    background-color: #EFCC9E;
}

.service-territory,
.county-lines,
.major-highways {
    width: 55px;
    height: 5px;
}
