################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.sass-cache
/dist
/dist
/outagemap.v12.suo
*.suo
/node_modules/grunt-contrib-handlebars/node_modules/handlebars/lib/handlebars/compiler/parser.js
/node_modules/grunt-contrib-handlebars/node_modules/handlebars/lib/handlebars/utils.js
/node_modules/grunt-contrib-handlebars/node_modules/handlebars/lib/handlebars/compiler
/node_modules/grunt-contrib-handlebars/node_modules/handlebars/lib/handlebars/compiler/parser.js
/node_modules/grunt-contrib-handlebars/node_modules/handlebars/lib/handlebars/utils.js
/node_modules/matchdep/.jshintrc
/node_modules/matchdep/.travis.yml
/node_modules/grunt-contrib-handlebars/node_modules/handlebars/lib/handlebars/compiler/parser.js
/node_modules/grunt-contrib-handlebars/node_modules/handlebars/lib/handlebars/utils.js

.idea/outagemap.iml

.idea/scopes/scope_settings.xml

.idea/webResources.xml

.idea/.name

.idea/misc.xml

.idea/encodings.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
