<div class="header-view">
    <div class="row collapse">
        <div id="twitter-link-container" class="five small-5 columns">
            <img id="twitter-icon" xlink:href="{{getAppUri twitterIconSvgSrc}}" src="{{getAppUri twitterIconSrc}}" alt="{{twitterIconAlt}}" />&#160;&#160;<a id="twitter-post-button" href="#">{{twitterPostButtonText}}</a>&#160;&#160;&#124;&#160;&#160;<a id="twitter-follow-us-button" href="#">{{twitterFollowUsButtonText}}</a>
        </div>
        <div id="facebook-link-container" class="five small-5 columns">
            <img id="facebook-icon" xlink:href="{{getAppUri facebookIconSvgSrc}}" src="{{getAppUri facebookIconSrc}}" alt="{{facebookIconAlt}}" />&#160;&#160;<a id="facebook-post-button" href="#">{{facebookPostButtonText}}</a>&#160;&#160;&#124;&#160;&#160;<a id="facebook-follow-us-button" href="#">{{facebookFollowUsButtonText}}</a>
        </div>
        <div class="two small-2 columns">
            <div id="show-outage-map-view-button-container" class="hidden">
                <a id="show-outage-map-view-button" href="#">{{{showOutageMapViewButtonText}}}</a>
            </div>
            <div id="show-outage-report-view-button-container">
                <a id="show-outage-report-view-button" href="#">{{{showOutageReportViewButtonText}}}</a>
            </div>
        </div>
    </div>
</div>