<div class="outage-map-legend-view">
    <div class="row collapse header">
        <div class="small-7 columns">
            <span id="outages-header-label">{{{customerOutagesTitleText}}}</span>
        </div>
        <div class="small-5 columns">
            <span id="legend-header-label">{{{legendTitleText}}}</span>
        </div>
    </div>
    <div class="row collapse icons">
        <div class="small-7 columns">
            <div class="row collapse">
                <div class="small-3 columns">
                    <div id="level-0-incident-icon">
                    </div>
                </div>
                <div class="small-9 columns">
                    <span id="level-0-incident-label">{{{level0IncidentsTitleText}}}</span>
                </div>
            </div>
        </div>
        <div class="small-5 columns">
            <div class="row collapse">
                <div class="small-8 columns">
                    <span id="service-territory-label">{{{serviceTerritoryTitleText}}}</span>
                </div>
                <div class="small-4 columns">
                    <img id="service-territory-icon" xlink:href="{{getAppUri serviceTerritoryIconSvgSrc}}" src="{{getAppUri serviceTerritoryIconSrc}}" alt="{{serviceTerritoryIconAlt}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="row collapse icons">
        <div class="small-7 columns">
            <div class="row collapse">
                <div class="small-3 columns">
                    <div id="level-1-incident-icon">
                    </div>
                </div>
                <div class="small-9 columns">
                    <span id="level-1-incident-label">{{{level1IncidentsTitleText}}}</span>
                </div>
            </div>
        </div>
        <div class="small-5 columns">
            <div class="row collapse">
                <div class="small-8 columns">
                    <span id="county-lines-label">{{{countyLinesTitleText}}}</span>
                </div>
                <div class="small-4 columns">
                    <img id="county-lines-icon" xlink:href="{{getAppUri countyLinesIconSvgSrc}}" src="{{getAppUri countyLinesIconSrc}}" alt="{{countyLinesIconAlt}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="row collapse icons">
        <div class="small-7 columns">
            <div class="row collapse">
                <div class="small-3 columns">
                    <div id="level-2-incident-icon">
                    </div>
                </div>
                <div class="small-9 columns">
                    <span id="level-2-incident-label">{{{level2IncidentsTitleText}}}</span>
                </div>
            </div>
        </div>
        <div class="small-5 columns">
            <div class="row collapse">
                <div class="small-8 columns">
                    <span id="major-highways-label">{{{majorHighwaysTitleText}}}</span>
                </div>
                <div class="small-4 columns">
                    <img id="major-highways-icon" xlink:href="{{getAppUri majorHighwaysIconSvgSrc}}" src="{{getAppUri majorHighwaysIconSrc}}" alt="{{majorHighwaysIconAlt}}" />
                </div>
            </div>
        </div>
    </div>
</div>
