<configuration>
  <system.web>
    <compilation debug="false" />
    <authentication mode="Forms">
      <forms
        loginUrl="Login.aspx"
        defaultUrl="~/secure/index.html#outageReport?region=aepohio">
        <credentials passwordFormat="Clear">
          <user name="outagemap" password="Ou7@gemap" />
        </credentials>
      </forms>
    </authentication>
    <!-- Unless specified in a sub-folder's Web.config file, 
             any user can access any resource in the site -->
    <authorization>
      <allow users="*" />
    </authorization>
    <caching>
      <outputCache enableOutputCache="false" />
    </caching>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />
      <remove name="UrlAuthorization" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
</configuration>