<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="~/secure/index.html#outageReport?region=aepohio">
        <credentials passwordFormat="Clear">
          <user name="outagemap" password="Ou7@gemap"/>
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".hbs"/>
      <mimeMap fileExtension=".hbs" mimeType="text/plain"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="text/plain"/>
    </staticContent>
  </system.webServer>
</configuration>
