<div class="content-view row">
    <div class="small-12 columns">
        <div class="timestamp">Last updated&#58;&#160;{{{formatDate timestamp "%Y-%m-%d %H:%M:%S %p GMT"}}}</div>
    </div>
</div>
<div class="row">
    <div id="outage-map-view" class="small-12 columns"></div>
</div>
<div class="row">
    <div id="outage-report-view" class="small-12 columns">
    </div>
    <div class="service-statistics">{{{serviceStatistics}}}</div>
</div>
<div class="row">
    <div class="small-12 columns">
        <div class="disclaimer">{{{disclaimer}}}</div>
    </div>
</div>