<div class="content-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <div class="timestamp-label-container">
                <span>{{{lastUpdatedTitleText}}}</span><span id="timestamp-label">{{{timestamp}}}</span>
            </div>
        </div>
    </div>
    <div class="row collapse">
        <div id="outage-map-view" class="small-12 columns"></div>
    </div>
    <div class="row collapse">
        <div id="outage-report-view" class="small-12 columns hidden"></div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <div class="service-statistics-label-container">
                <span id="service-statistics-label">{{{serviceStatistics}}}</span>
            </div>
        </div>
    </div>
</div>