<div class="header-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <div id="show-outage-map-view-button-container" class="header-menu hidden" title="Click here to view the map">
                <a id="show-outage-map-view-button" href="#" class="button">{{{showOutageMapViewButtonText}}}</a>
            </div>
            <div id="show-outage-report-view-button-container" class="header-menu" title="Click here to view the list">
                <a id="show-outage-report-view-button" href="#" class="button">{{{showOutageReportViewButtonText}}}</a>
            </div>
        </div>
    </div>
</div>