<div class="header-view">
    <div class="row collapse">
        <div class="small-5 columns social-media-link-container">
            <img xlink:href="{{getAppUri twitterIconSvgSrc}}" src="{{getAppUri twitterIconSrc}}" alt="{{twitterIconAlt}}" />&#160;&#160;<a id="twitter-post-button" href="#" class="social-media-link">{{twitterPostButtonText}}</a>&#160;&#160;&#124;&#160;&#160;<a id="twitter-follow-us-button" href="#" class="social-media-link">{{twitterFollowUsButtonText}}</a>
        </div>
        <div class="small-5 columns social-media-link-container">
            <img xlink:href="{{getAppUri facebookIconSvgSrc}}" src="{{getAppUri facebookIconSrc}}" alt="{{facebookIconAlt}}" />&#160;&#160;<a id="facebook-post-button" href="#" class="social-media-link">{{facebookPostButtonText}}</a>&#160;&#160;&#124;&#160;&#160;<a id="facebook-follow-us-button" href="#" class="social-media-link">{{facebookFollowUsButtonText}}</a>
        </div>
        <div class="small-2 columns">
            <div id="show-outage-map-view-button-container" class="outage-app-link-container hidden">
                <a id="show-outage-map-view-button" href="#" class="outage-app-link">{{{showOutageMapViewButtonText}}}</a>
            </div>
            <div id="show-outage-report-view-button-container" class="outage-app-link-container">
                <a id="show-outage-report-view-button" href="#" class="outage-app-link">{{{showOutageReportViewButtonText}}}</a>
            </div>
        </div>
    </div>
</div>