<div class="outage-map-legend-view">
    <div class="row collapse header">
        <div class="small-5 columns">
            <span>{{{customerOutagesTitleText}}}</span>
        </div>
        <div class="small-7 columns">
            <span>{{{legendTitleText}}}</span>
        </div>
    </div>
    <div class="row collapse symbols">
        <div class="small-5 columns">
            <div class="row collapse">
                <div class="small-5 columns">
                    <div class="level-0-incident">
                    </div>
                </div>
                <div class="small-7 columns">
                    <span>{{{level0IncidentsTitleText}}}</span>
                </div>
            </div>
        </div>
        <div class="small-7 columns">
            <div class="row collapse">
                <div class="small-4 columns">
                    <div class="service-territory">
                    </div>
                </div>
                <div class="small-8 columns">
                    <span>{{{serviceTerritoryTitleText}}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row collapse symbols">
        <div class="small-5 columns">
            <div class="row collapse">
                <div class="small-5 columns">
                    <div class="level-1-incident">
                    </div>
                </div>
                <div class="small-7 columns">
                    <span>{{{level1IncidentsTitleText}}}</span>
                </div>
            </div>
        </div>
        <div class="small-7 columns">
            <div class="row collapse">
                <div class="small-4 columns">
                    <div class="county-lines">
                    </div>
                </div>
                <div class="small-8 columns">
                    <span>{{{countyLinesTitleText}}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row collapse symbols">
        <div class="small-5 columns">
            <div class="row collapse">
                <div class="small-5 columns">
                    <div class="level-2-incident">
                    </div>
                </div>
                <div class="small-7 columns">
                    <span>{{{level2IncidentsTitleText}}}</span>
                </div>
            </div>
        </div>
        <div class="small-7 columns">
            <div class="row collapse">
                <div class="small-4 columns">
                    <div class="major-highways">
                    </div>
                </div>
                <div class="small-8 columns">
                    <span>{{{majorHighwaysTitleText}}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
