<div class="outage-report-view">
    <div class="row collapse title">
        <div class="small-6 columns">
            <span id="title-label">{{{titleText}}}</span>
        </div>
        <div class="small-6 columns">
            <div class="timestamp-label-container">
                <span>{{{lastUpdatedTitleText}}}</span><span id="timestamp-label">{{{timestamp}}}</span>
            </div>
        </div>
    </div>
    <div class="row collapse no-incidents hidden">
        <div class="small-12 columns">
            <span>{{{noOutagesMessage}}}</span>
        </div>
    </div>
    <div class="row collapse header">
        <div class="small-3 columns">
            <div>
                <span>{{{countyNameTitleText}}}</span>
            </div>
        </div>
        <div class="small-3 columns numeric">
            <div>
                <span>{{{customersAffectedTitleText}}}</span>
            </div>
        </div>
        <div class="small-3 columns numeric">
            <div>
                <span>{{{customersServedTitleText}}}</span>
            </div>
        </div>
        <div class="small-3 columns numeric">
            <div>
                <span>{{{percentageAffectedTitleText}}}</span>
            </div>
        </div>
    </div>
    {{#if incidentRows}}
    {{#stripeRows incidentRows}}
    <div class="{{rowClass}}">
        <div class="small-3 columns">
            {{#if countyName}}
            <span class="county-name">{{{countyNameFormatted}}}</span>
            {{/if}}
            {{#if stateName}}
            <span class="state-name">{{{stateName}}} totals&#58;</span>
            {{/if}}
        </div>
        <div class="small-3 columns numeric">
            <span>{{formatNumber customersAffected}}</span>
        </div>
        <div class="small-3 columns numeric">
            {{#if customersServed}}
            <span>{{formatNumber customersServed}}</span>
            {{else}}
            <span>&nbsp;</span>
            {{/if}}
        </div>
        <div class="small-3 columns numeric">
            {{#if percentageAffected}}
            <span>{{percentageAffected}}</span>
            {{/if}}
        </div>
    </div>
    {{/stripeRows}}
    {{/if}}
    <div class="row collapse footer bold">
        <div class="small-3 columns">
            <span>{{{grandTotalTitleText}}}</span>
        </div>
        <div class="small-3 columns numeric">
            <span>{{formatNumber customersAffected}}</span>
        </div>
        <div class="small-3 columns numeric">
            <span>{{formatNumber customersServed}}</span>
        </div>
        <div class="small-3 columns numeric">
            <span>{{percentageAffected}}</span>
        </div>
    </div>
    <div class="row collapse statistics">
        <div class="small-12 columns">
            <span id="service-statistics-label">{{{serviceStatistics}}}</span>
        </div>
    </div>
    <div class="row collapse disclaimer">
        <div class="small-12 columns">
            <span id="disclaimer-label">{{{disclaimer}}}</span>
        </div>
    </div>
</div>
