<div class="outage-report-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <span class="title">{{{titleText}}}</span>
        </div>
    </div>
    <div class="row collapse no-incidents hidden">
        <div class="small-12 columns">
            <span>{{{noOutagesMessage}}}</span>
        </div>
    </div>
    <div class="row collapse header">
        <div class="small-2 columns">
            <span>{{{countyNameTitleText}}}</span>
        </div>
        <div class="small-4 columns numeric">
            <span>{{{customersAffectedTitleText}}}</span>
        </div>
        <div class="small-3 columns numeric">
            <span>{{{customersServedTitleText}}}</span>
        </div>
        <div class="small-3 columns numeric">
            <span>{{{percentageAffectedTitleText}}}</span>
        </div>
    </div>
    {{#if incidentRows}}
    {{#stripeRows incidentRows}}
    <div class="{{rowClass}}">
        <div class="small-2 columns countyname">
            {{#if countyName}}
            <span class="county-name">{{{countyName}}}</span>
            {{/if}}
            {{#if stateName}}
            <span class="state-name">{{{stateName}}} totals&#58;</span>
            {{/if}}
        </div>
        <div class="small-4 columns numeric">
            <span>{{formatNumber customersAffected}}</span>
        </div>
        <div class="small-3 columns numeric">
            {{#if customersServed}}
            <span>{{formatNumber customersServed}}</span>
            {{else}}
            <span>&nbsp;</span>
            {{/if}}
        </div>
        <div class="small-3 columns numeric">
            {{#if percentageAffected}}
            <span>{{percentageAffected}}&#37;</span>
            {{/if}}
        </div>
    </div>
    {{/stripeRows}}
    {{/if}}
    <div class="row collapse footer bold">
        <div class="small-2 columns">
            <span>{{{grandTotalTitleText}}}</span>
        </div>
        <div class="small-4 columns numeric">
            <span>{{formatNumber customersAffected}}</span>
        </div>
        <div class="small-3 columns numeric">
            <span>{{formatNumber customersServed}}</span>
        </div>
        <div class="small-3 columns numeric">
            <span>{{percentageAffected}}&#37;</span>
        </div>
    </div>
</div>
