<div class="outage-map-legend-view">
    <div class="row">
        <div class="small-6 columns">
            <div class="row">
                <div class="small-12 columns">
                    <span>{{{customerOutagesTitleText}}}</span>
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <span>{{{level0IncidentsColor}}}</span>
                </div>
                <div class="small-6 columns">
                    <span>{{{level0IncidentsTitleText}}}</span>
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <span>{{{level1IncidentsColor}}}</span>
                </div>
                <div class="small-6 columns">
                    <span>{{{level1IncidentsTitleText}}}</span>
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <span>{{{level2IncidentsColor}}}</span>
                </div>
                <div class="small-6 columns">
                    <span>{{{level2IncidentsTitleText}}}</span>
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <div class="row">
                <div class="small-12 columns">
                    <span>{{{legendTitleText}}}</span>
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <span>{{{serviceTerritoryColor}}}</span>
                </div>
                <div class="small-6 columns">
                    <span>{{{serviceTerritoryTitleText}}}</span>
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <span>{{{countyLinesColor}}}</span>
                </div>
                <div class="small-6 columns">
                    <span>{{{countyLinesTitleText}}}</span>
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <span>{{{majorHighwaysColor}}}</span>
                </div>
                <div class="small-6 columns">
                    <span>{{{majorHighwaysTitleText}}}</span>
                </div>
            </div>
        </div>
    </div>
</div>