<div class="outage-map-legend-view">
    <div class="row collapse header">
        <div class="small-6 columns">
            <span>{{{customerOutagesTitleText}}}</span>
        </div>
        <div class="small-6 columns">
            <span>{{{legendTitleText}}}</span>
        </div>
    </div>
    <div class="row collapse symbols">
        <div class="small-6 columns">
            <div class="row collapse">
                <div class="small-6 columns">
                    <div class="level-0-incident">
                    </div>
                </div>
                <div class="small-6 columns">
                    <div class="icon-title">
                    <span>{{{level0IncidentsTitleText}}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <div class="row collapse">
                <div class="small-8 columns">
                    <div class="icon-title">
                    <span>{{{serviceTerritoryTitleText}}}</span>
                    </div>
                </div>
                <div class="small-4 columns">
                    <img class="legend-icon" src="../secure/images/service_territory_icon.png">
                </div>
            </div>
        </div>
    </div>
    <div class="row collapse symbols">
        <div class="small-6 columns">
            <div class="row collapse">
                <div class="small-6 columns">
                    <div class="level-1-incident">
                    </div>
                </div>
                <div class="small-6 columns">
                    <div class="icon-title">
                    <span>{{{level1IncidentsTitleText}}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <div class="row collapse">
                <div class="small-8 columns">
                    <div class="icon-title">
                        <span>{{{countyLinesTitleText}}}</span>                    
                    </div>
                </div>
                <div class="small-4 columns">
                    <img class="legend-icon" src="../secure/images/county_lines_icon.png">
                </div>
            </div>
        </div>
    </div>
    <div class="row collapse symbols">
        <div class="small-6 columns">
            <div class="row collapse">
                <div class="small-6 columns">
                    <div class="level-2-incident">
                    </div>
                </div>
                <div class="small-6 columns">
                    <div class="icon-title">
                    <span>{{{level2IncidentsTitleText}}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <div class="row collapse">
                <div class="small-8 columns">
                    <div class="icon-title">
                    <span>{{{majorHighwaysTitleText}}}</span>
                    </div>
                </div>
                <div class="small-4 columns">
                    <img class="legend-icon" src="../secure/images/major_highways_icon.png">
                </div>
            </div>
        </div>
    </div>
</div>
