<div class="outage-report-view">
    <div class="row">{{{titleText}}}</div>
    <div class="row">
        <div class="small-3 columns">
            <span>{{{countyNameTitleText}}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{{customersWithoutPowerTitleText}}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{{totalCustomersTitleText}}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{{percentageTitleText}}}</span>
        </div>
    </div>
    {{#each incidents}}
    <div class="row">
        <div class="small-3 columns">
            <span>{{{countyName}}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{customersWithoutPower}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{totalCustomers}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{percentage}}&#37;</span>
        </div>
    </div>
    {{/each }}
    {{#each states}}
    <div class="row">
        <div class="small-3 columns">
            <span>{{{stateName}}} totals&#58;</span>
        </div>
        <div class="small-3 columns">
            <span>{{customersWithoutPower}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{totalCustomers}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{percentage}}&#37;</span>
        </div>
    </div>
    {{/each}}
    <div class="row">
        <div class="small-3 columns">
            <span>{{{grandTotalTitleText}}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{customersWithoutPower}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{totalCustomers}}</span>
        </div>
        <div class="small-3 columns">
            <span>{{percentage}}&#37;</span>
        </div>
    </div>
</div>
