<div class="outage-map-legend-view grid-100 grid-parent">
    <div class="grid-100 grid-parent">
        <div class="grid-33">{{{customerOutagesTitleText}}}</div>
        <div class="grid-66">{{{legendTitleText}}}</div>
    </div>
    <div class="grid-100 grid-parent">
        <div class="grid-33 grid-parent">
            <div class="grid-100 grid-parent">
                <div class="grid-66">{{{level0IncidentsTitleText}}}</div>
                <div class="grid-33">{{{level0IncidentsColor}}}</div>
            </div>
            <div class="grid-100 grid-parent">
                <div class="grid-66">{{{level1IncidentsTitleText}}}</div>
                <div class="grid-33">{{{level1IncidentsColor}}}</div>
            </div>
            <div class="grid-100 grid-parent">
                <div class="grid-66">{{{level2IncidentsTitleText}}}</div>
                <div class="grid-33">{{{level2IncidentsColor}}}</div>
            </div>
        </div>
        <div class="grid-66 grid-parent">
            <div class="grid-100 grid-parent">
                <div class="grid-50">{{{serviceTerritoryColor}}}</div>
                <div class="grid-50">{{{serviceTerritoryTitleText}}}</div>
            </div>
            <div class="grid-100 grid-parent">
                <div class="grid-50">{{{countyLinesColor}}}</div>
                <div class="grid-50">{{{countyLinesTitleText}}}</div>
            </div>
            <div class="grid-100 grid-parent">
                <div class="grid-50">{{{majorHighwaysColor}}}</div>
                <div class="grid-50">{{{majorHighwaysTitleText}}}</div>
            </div>
        </div>
    </div>
</div>