<script id="outage-map-report-template" type="text/x-handlebars-template">
    <div class="outage-map-report">
        <div class="report-header">
            <div class="header-title">{{{reportTitleText}}}</div>
            <div class="header-timestamp">Last Updated&#58; {{{timestamp}}}</div>
        </div>
        <div class="report-rows">
            <div class="rows-header">
                <div class="header-col0">{{{countyNameTitleText}}}</div>
                <div class="header-col1">{{{customersWithoutPowerTitleText}}}</div>
                <div class="header-col2">{{{totalCustomersTitleText}}}</div>
                <div class="header-col3">{{{percentageTitleText}}}</div>
            </div>
            {{ ~#each incidents }}
            <div class="rows-body">
                <div class="body-col0">{{{countyName}}}</div>
                <div class="body-col1">{{customersWithoutPower}}</div>
                <div class="body-col2">{{totalCustomers}}</div>
                <div class="body-col3">{{percentage}}&#37;</div>
            </div>
            {{ ~/each }}
            {{ ~#each states }}
            <div class="rows-footer">
                <div class="footer-col0">{{{stateName}}} totals&#58;</div>
                <div class="footer-col1">{{customersWithoutPower}}</div>
                <div class="footer-col2">{{totalCustomers}}</div>
                <div class="footer-col3">{{percentage}}&#37;</div>
            </div>
            {{ ~/each }}
            <div class="rows-footer">
                <div class="footer-col0">{{{grandTotalTitleText}}}</div>
                <div class="footer-col1">{{customersWithoutPower}}</div>
                <div class="footer-col2">{{totalCustomers}}</div>
                <div class="footer-col3">{{percentage}}&#37;</div>
            </div>
        </div>
        <div class="report-footer">
            <div class="footer-disclaimer">{{{disclaimer}}}</div>
        </div>
    </div>
</script>