<div class="footer-legend-view">
    <div class="row">
        <div class="col0">{{{customerOutagesTitleText}}}</div>
        <div class="col1">&#160;</div>
        <div class="col2">{{{legendTitleText}}}</div>
    </div>
    <div class="row">
        <div class="col0">
            <div class="row">
                <div class="col0">{{{level0IncidentsTitleText}}}</div>
                <div class="col1">{{{level0IncidentsColor}}}</div>
            </div>
            <div class="row">
                <div class="col0">{{{level1IncidentsTitleText}}}</div>
                <div class="col1">{{{level1IncidentsColor}}}</div>
            </div>
            <div class="row">
                <div class="col0">{{{level2IncidentsTitleText}}}</div>
                <div class="col1">{{{level2IncidentsColor}}}</div>
            </div>
        </div>
        <div class="col1">
            <div class="row">
                <div class="col0">{{{serviceTerritoryColor}}}</div>
            </div>
            <div class="row">
                <div class="col0">{{{countyLinesColor}}}</div>
            </div>
            <div class="row">
                <div class="col0">{{{majorHighwaysColor}}}</div>
            </div>
        </div>
        <div class="col2">
            <div class="row">
                <div class="col0">{{{serviceTerritoryTitleText}}}</div>
            </div>
            <div class="row">
                <div class="col0">{{{countyLinesTitleText}}}</div>
            </div>
            <div class="row">
                <div class="col0">{{{majorHighwaysTitleText}}}</div>
            </div>
        </div>
    </div>
</div>